.ad-search-ad-results-count{
    font-size: 15px;
    margin-bottom: 20px;
}
.user-contacts-list{
    margin-bottom: 10px;
    font-size: 15px;
}
.user-contacts-talk-but{
    width: 100%;
}
.ls-button.header-j{
    width: 500px;
    margin: 229px auto 0 auto;
    float: none;
    display: block;
    color: #fff;
}
